@charset "UTF-8";

.language-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1030;
    background-color: #ffffff;
}
.workspace-btn{
    height: auto!important;
    border-bottom: 2px solid #f16c20;
    color: #0d3c55!important;
    padding: 5px 20px!important;
}

.sidebar-menu .dropdown-menu{
    background-color: #e9ecef;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 30px;
}

.sticky-note-bg-info{
    background:#cfc;
}
.sticky-note-bg-warning{
    background:#ffc;
}
.sticky-note-bg-danger{
    background:#fcc;
}

.sticky-notes,.sticky-note{
  list-style:none;
}

.sticky-notes{
  overflow:hidden;
  padding:2em;
}

.sticky-notes .sticky-note .sticky-content{
  text-decoration:none;
  color:#000;
  display:block;
  padding:1em;
  overflow-wrap: break-word;
  -moz-box-shadow:-5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: -5px 5px 7px rgba(33,33,33,.3);
  box-shadow: -5px 5px 7px rgba(33,33,33,.3);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
    -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -moz-transform:rotate(2deg);
}

.sticky-notes .sticky-note{
  margin-top: 1em;
margin-bottom: 1em;
  /*float:left;*/
}

.sticky-notes .sticky-note:nth-child(even) .sticky-content{
  -o-transform:rotate(-2deg);
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  position:relative;
  top:5px;
}

.sticky-notes .sticky-note:nth-child(3n) .sticky-content{
  -o-transform:rotate(2deg);
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  position:relative;
  top:-5px;
}

.sticky-notes .sticky-note:nth-child(5n) .sticky-content{
  -o-transform:rotate(-2deg);
  -webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  position:relative;
  top:-10px;
}

.sticky-notes .sticky-note .sticky-content:hover,.sticky-notes .sticky-note .sticky-content:focus{
  box-shadow:-10px 10px 7px rgba(0,0,0,.3);
  -moz-box-shadow:-10px 10px 7px rgba(0,0,0,.3);
  -webkit-box-shadow: -10px 10px 7px rgba(0,0,0,.3);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.05);
  position:relative;
  z-index:5;
}

.sticky-notes .sticky-note .sticky-content i{
  font-size:12px;
  float:left;
  vertical-align:top;
    padding: 6px;
    cursor: pointer;
}

.selectize-control{
    width: 100%;
}

.dropdown-width{
    width: 250px;   
}

@keyframes typing-sprite {
    to {
        background-position: -240px
    }
}

#canvas {
  height: 20rem;
  width: 600px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
  display: none;
}
    
.chat-scrn{
    font-size: 1.9em; 
    cursor: pointer;
}

.user-avtar{
    background: #e1ebff;
    text-align: center;
    line-height: 100px;
    font-size: 55px;
    color: #777777;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    float: right;
    width: 100px;
    margin: -35px 30px 0 -5px;
    position: relative;
    z-index: 1;
}

.user-avtar-project{
   background: #e1ebff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #777777;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    width: 40px;
    height: 40px;
}

.typing-loader {
    display: inline-block;
    width: 11px;
    height: 3px;
    flex-basis: 11px;
    background-image: url(../img/typing-loader.png);
    background-repeat: no-repeat;
    animation: 1s steps(15) 0s infinite normal none typing-sprite;
    margin: 0px 0px 3px 0px;
}

.chat_divider{
    padding: 8px 10px;
    text-align: center;
    font-size: medium;
    color: brown;
    margin: 0 0px 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.chat_divider::before, .chat_divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #cf9a5e;
}
.chat_divider::before {
    margin-left: .25em;
}
.chat_divider::after {
    margin-right: .25em;
}

.chat_loader {
    padding: 8px 10px;
    text-align: center;
    font-size: medium;
    color: brown;
    margin: 0 0px 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
    display: none;
}

.chat_loader::before, .chat_loader::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #cf9a5e;
}
.chat_loader::before {
    margin-left: .25em;
}
.chat_loader::after {
    margin-right: .25em;
}


#chat-input-textarea-result{
    background-color: rgba(117, 117, 117, 0.36);
    position: absolute;
    bottom: 51px;
    border: 1.5px dashed rgb(119, 122, 125) !important;
    border-radius: 6px !important;
    height: auto;
}

.board .dropdown-toggle{
    outline: none;
  }
  .board .dropdown-toggle:after{
    display: none;
  }
  .board {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
  }
  .tasks.tasks:not(:last-child) {
    margin-left: 1.25rem;
  }
  .tasks {
    display: inline-block;
    width: 22rem;
    padding: 0 1rem 1rem 1rem;
    border: 1px solid #e3eaef;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: .25rem;
  }
  .tasks .task-header {
    background-color: #fff;
    color: #78828a;
    padding: 1rem;
    margin: 0 -1rem;
    font-weight: bold;
  }
  .task-list-items {
    min-height: 100px;
    position: relative;
  }
  .task-list-items:before {
    content: "No Tasks";
    position: absolute;
    line-height: 110px;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
  .tasks .card {
    white-space: normal;
    margin-top: 1rem;
  }
  
.select2-container {
    display: block !important;
    width: 100%  !important;
}

.projects-badge {
    padding: 4px 6px !important;
    font-size: 10px !important;
}

.no-shadow {
    box-shadow: none !important;
}

.bg-mid-dark {
    background-color: #34395e !important;
}

.chat-full-screen {
    transition: all .5s;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: text !important;
}

.badge-chat {
    vertical-align: middle;
    border-radius: 5px;
    float: left;
    background-color: #fc544b;
    color: white;
    /* display: inline-block; if you get any error from this class then first uncmnt this and check */ 
    padding: .30em 1em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    margin-top: 2px;
}

.badge-group-chat{
    background-color: transparent !important;
    font-weight: 300!important;
    margin-top: 3px !important;
    color: #4f5961 !important;
}

.active .badge-group-chat{
    
    color: #ffffff !important;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow:hidden;
 }

 .chat-hide-show {
     display: none !important;
 }

 .chat-min {
    height: 73vh !important;
 }

 .chat-max {
    height: 88vh !important;
 }

.chat-theme-dark {
    background-color: #1A1D21 !important;
    border-top: 2px solid #17a2b8 !important;
}

.chat-theme-light {
    background-color: #F8F8FA !important;
    border-top: 2px solid #383F45 !important;
}

.chat-theme-light .chat-left .person-group-chat {
    background: #8e8e8e;
    padding: 1px 5px;
    border-radius: 3px;
    position: absolute;
    color: #ececec;
    top: -22px;
    right: 0;
    font-size: 12px;
}

.chat-theme-light .chat-right .person-group-chat {
    background: #8e8e8e;
    padding: 1px 5px;
    border-radius: 3px;
    position: absolute;
    color: #ececec;
    top: -22px;
    left: 0;
    font-size: 12px;
}

.chat-avtar-search{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    background: #99e2ff;
    text-align: center;
    line-height: 52px;
    font-size: 26px;
    font-weight: 800;
    color: #777777;
    margin: 0px 0px 0px 16px;
}

.chat-avtar-main{
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    background: #e1ebff;
    text-align: center;
    line-height: 52px;
    font-size: 26px;
    font-weight: 800;
    color: #777777;
}

.chat-box .chat-content .chat-item > .chat-avtar{
    float: right;
/*    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    background: #e1ebff;
    text-align: center;
    line-height: 52px;
    font-size: 26px;
    font-weight: 800;
    color: #777777;*/
-webkit-user-drag: none !important;
}

.chat-box .chat-content .chat-item.chat-right .chat-avtar{
    float: left;
/*    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    background: #ffe1e1;
    text-align: center;
    line-height: 52px;
    font-size: 26px;
    font-weight: 800;
    color: #777777;*/
-webkit-user-drag: none;
}

.chat-theme-light .delete-msg {
    position: absolute;
    color: white;
    top: 0;
    left: 3px;
}

.chat-theme-dark .delete-msg {
    position: absolute;
    color: white;
    top: 0;
    left: 3px;
}

.chat-theme-light .download-msg {
    position: absolute;
    color: black;
    top: 0;
    right: 3px;
}

.chat-theme-dark .download-msg {
    position: absolute;
    color: black;
    top: 0;
    right: 3px;
}

.chat_media_img { grid-area: img;}
.chat_media_file { grid-area: file; color: #b13c3c;}
.chat_media_size { grid-area: size;}


.chat-theme-light .chat-files  {
    text-align: center;
    display: grid;
    grid-template-areas:
    'img file file file size size';
  grid-gap: 10px;
  background-color: #cccccc;
  border-radius: 3px;
  padding: 10px;
  color: black;
  margin: 1px;
}

.chat-theme-dark .chat-files  {
    text-align: center;
    display: grid;
    grid-template-areas:
    'img file file file size size';
  grid-gap: 10px;
  background-color: #cccccc;
  border-radius: 3px;
  padding: 10px;
  color: black;
  margin: 1px;
}

.chat-files-search  {
    text-align: center;
    display: grid;
    grid-template-areas:
    'img file file file size fa-download';
  grid-gap: 10px;
  background-color: #cccccc;
  border-radius: 3px;
  padding: 10px;
  color: black;
  margin: 1px;
}

.chat-theme-light .chat-image-view{
    position: relative;
    background-color: #cccccc;
    border-radius: 3px;
    padding: 5px;
    color: black;
    margin: 1px;
}


.chat-theme-light .msg_text_media {
    display: grid;
}

.chat-theme-dark .chat-image-view{
    position: relative;
    background-color: #cccccc;
    border-radius: 3px;
    padding: 5px;
    color: black;
    margin: 1px;
}

.chat-theme-dark .msg_text_media {
    display: grid;
}

.chat-theme-light .download-btn-styling {
    background: #27ab45;
    color: black;
    padding: 7px;
    border-radius: 3px;
    display: none;
    margin: 8px 0px 0px 5px;
}

.chat-theme-dark .download-btn-styling {
    background: #27ab45;
    color: black;
    padding: 7px;
    border-radius: 3px;
    display: none;
    margin: 8px 0px 0px 5px;
}

.chat-image-view:hover .download-btn-styling{
    display : block;
}

.chat-files:hover .download-btn-styling{
    display : block;
}
 

.chat-theme-light .go-to-bottom-btn{
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white  !important;
    border: none;
    position: absolute;
    top: -48%;
    left: 0px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    display: none;
}

.chat-theme-dark .go-to-bottom-btn{
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white  !important;
    border: none;
    position: absolute;
    top: -48%;
    left: 0px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    display: none;
}

.chat-theme-dark .chat-preview-btn {
    position: absolute;
    top: 30%;
    left: 60px;
    color: #868686 !important;
}

.chat-theme-light .chat-preview-btn {
    position: absolute;
    top: 30%;
    left: 60px;
    color: #414141 !important;
}

.chat-theme-dark .chat-preview-btn:hover {
    color: #5a5a5a !important;
}

.chat-theme-light .chat-preview-btn:hover {
    color: #303030 !important;
}

.chat-theme-dark .chat-time {
    color: #d8d8d8 !important;
}

.chat-theme-light .new-msg-rcv{
    font-weight: 1000 !important;
    color: #383F45 !important;
}

.chat-theme-dark .new-msg-rcv{
    font-weight: 1000 !important;
    color: #FFFFFF !important;
}

.chat-theme-light .chat-bg{
    background-image: url(./../img/bg-chat.jpg) !important;
}

.chat-theme-light .text-successg{
    color: #39E500 !important;
}

.chat-theme-dark .chat-bg{
    background-color: #303335 !important;
}

.chat-theme-dark .text-success{
    color: #39E500 !important;
}

.chat-theme-dark .chat-search-box {
    background-color: #1a1d21 !important;
    border: 1px solid #a6a7ab !important;
    border-radius: .25rem !important;
    margin-left: 8px !important;
    height: 30px !important;
    width: -webkit-fill-available;
}

.chat-theme-dark .chat-search-box:hover {
    background-color: #363b42 !important;
    border: 1px solid #c9cacc !important;
}

.chat-theme-dark .chat-search-box:focus {
    background-color: #363b42 !important;
    border: 1px solid #c9cacc !important;
    color: #c9cacc !important;
}

.chat-theme-light .chat-search-box {
    border-radius: .25rem !important;
    margin-left: 8px !important;
    height: 30px !important;
    width: -webkit-fill-available;
}
.chat-theme-light .chat-search-box:hover {
    background-color: #f2f2f7;
    border-color: #d9dae4;
}

.chat-theme-dark .chat-search-btn {
    background-color: #1a1d21 !important;
    border-color: #a6a7ab !important;
}

.chat-scroll {
    overflow: hidden !important;
    outline: none !important;
}

.chat-theme-dark .active {
    font-weight: 700!important;
    background: #3abaf4;
    padding: 3px 15px;
    color: #FFFDF9 !important;
}

.chat-theme-dark .active:hover {
    background: #3abaf4 !important;
    color: #FFFDF9 !important;
}

.chat-theme-light .active {
    font-weight: 700!important;
    background: #3abaf4;
    padding: 3px 15px;
    color: #FFFDF9 !important;
}

.chat-theme-light .active:hover {
    background: #3abaf4 !important;
    color: #FFFDF9 !important;
}

.chat-theme-dark .chat-person {
    font-weight: 700;
    color: #ababab;
    padding: 3px 15px;
}

.chat-theme-dark code {
    background: #e8e8e8;
    padding: 6px 8px;
    border-radius: 4px;
}

.chat-theme-light code {
    background: #e8e8e8;
    padding: 6px 8px;
    border-radius: 4px;
}

.chat-theme-dark .chat-person:hover {
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.chat-theme-light .chat-person {
    font-weight: 700;
    color: #4f5961;
    padding: 3px 15px;
}

.chat-theme-light .chat-person:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.chat-theme-dark .text-color {
    color: #ababab !important;
    
}

.chat-theme-light .text-color {
    color: #383F45 !important;
}

.chat-theme-dark .text-color h4 {
    color: #ababab !important;
}

.chat-theme-light .text-color h4 {
    color: #383F45 !important;
}

.chat-theme-dark .theme-inputs {
    background-color: #1a1d21 !important;
    border: 1px solid #a6a7ab !important;
    border-radius: 6px !important;
    color: #c9cacc !important;
    height: auto !important;
    white-space: pre-wrap !important;
}

.chat-theme-light .theme-inputs {
    border: 1px solid #383F45 !important;
    border-radius: 6px !important;
    height: auto !important;
    white-space: pre-wrap !important;
}

.chat-card-header{
    line-height: 9px !important;
    min-height: 0px !important;
    padding: 5px 8px !important;
    border-bottom: 0px !important;
}

.chat-card-header h4 {
    font-size: 17px !important;
}

.chat-list-unstyled-border li {
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.chat-card-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    flex: 0 !important;
}

.chat-img-undrag{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


@media (max-width: 580px) {
  .card-view-value .media{
    	margin: 5px;
    }
    
    .card-view-value .media .media-items .media-item{
    	padding: 0px 5px 0px 0px;
    }
    
}
.codeeditor{
    min-height: 300px;
}